
.ant-layout {
  min-height: 100vh;
}

  .content {
    padding: 1em;
  }

  .title {
  color: whitesmoke;
  float: left;
}

.nav {
  float: left;
  margin: 0 15px;
}

.info {
  float: right;
}




@media screen and (min-width: 700px) {
  .site-layout-content {
    padding: 0 24px;
  }
}
@media screen and (max-width: 992px) {
  .site-layout-content {
    padding: 0 24px;
  }

  .ant-col {
    padding: 4px;
  }
}



